.small-post {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    font-size: 0.875rem;
    border: 1px solid #9c8f45;
}

.small-post .card-body {
    padding: 10px;
}

.small-post h2 {
    font-size: 1.25rem;
}

.small-post p {
    font-size: 0.875rem;
}

.small-post img {
    max-height: 150px;
}